
.rightHeader
  .rightHeader__block
    .rightHeader__block__groupName
      = @group.name
    .rightHeader__block__member Member：
    %ul
      %li
        = @member

  .rightHeader__button
    %a{type: "submit", onclick: "href = '/groups/#{@group.id}/edit'"} Edit

.mainMessages
  = render @messages

.footer
  .footer__form
    = form_for [@group, @message] do |f|
      =f.text_field :content, class: "form__message", placeholder: "type a message"
      .footer__form__mask
        = f.label :image, class: "form__mask__image" do
          = fa_icon "picture-o", class: "icon"
          = f.file_field :image, style: "display:none;", class: "hidden"
      = f.submit "Send", class: "form__submit"

